*{
  box-sizing: border-box;
  /* border: black 1px solid; */
}

header {
  background-color: salmon;
}

nav {
  width: 100%;
  margin: auto;
  overflow: hidden;
  /* float: left; */
}

nav > ul {
  float: left;
  width: 100%;
}

nav .merch{
  float: left;
}

nav li {
  float: right;
  width: auto;
  margin: 10px 10px 10px 30px;
  list-style: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav li  a {
  text-decoration: none;
  color:aquamarine;
  margin: 0;
}

nav li img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
}

#navBar li:first-child {
  color: aquamarine;
  float: left;
}

#merch {
  float: right;
}

#merch img {
  border: 0;
  max-height: 30px;
}

body {
  overflow: scroll;
}

#titleBlock {
  overflow: hidden;
  width: 100%;
  /* background-color: aquamarine; */
  background-image: url(img/fish.jpg);
  height: 98px;
}

#titleBlock img {
  height: 70px;
}

#cutter {
  float: left;
}

#cookie {
  float: left;
  position: relative;
  top: 112px;
  left: 880px;
}

#franchise {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: gray;
  background-color: rgb(200, 235, 215);
  margin-top: 50px;
  width: fit-content;
  padding: 15px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

main ul {
  overflow: hidden;
}


h1 {
  color: salmon;
  margin: auto;
  text-align: center;
  font-family: 'Courgette', cursive;
  font-size: 60px;
  padding: 20px;
  width: fit-content;
  background-color: white;
}

#locations {
  width: fit-content;
  float: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: gray;
  margin-top: 80px;
}

#locations li:hover {
  background-color: rgb(200, 280, 280);
}

#images {
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  margin-top: 80px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

#images li {
  overflow: hidden;
  list-style: none;
}

#images img {
  max-width: 100%;
  max-height: 100%;
}

#images p {
  text-align: justify;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 15px;
  margin-bottom: 50px;
  max-width: 852px;
  background-color: rgb(200, 235, 215);
}

.fancy {
  font-family: 'Courgette', cursive;
}

footer {
  background-color: salmon;
  position: fixed;
  height: 48px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

footer p {
  text-align: right;
  color: aquamarine;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 15px;
  padding-right: 15px;
}

footer img {
  float: left;
  height: 48px;
}

.city {
   font-weight: bold;
   font-family: 'Courgette', cursive;
   color: salmon;
}

table {
  border: solid 1px, black;
  border-collapse: collapse;
  margin: 20px;
  overflow: hidden;
  color: rgb(68, 68, 68);
  background-color: rgb(175, 235, 215);
}

table :first-child {
  color: gray;
  background-color: rgb(200, 280, 280);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#cookieChart {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: solid 1px black;
  padding: 5px;
}

input {
  display: block;
}